.calculator-parent{
 
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 30px;
}



.calculator-heading1{
  
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: #fff;
  text-align: left;
  margin-left: 15px;

}

.pill-nav{
  display: flex;
  flex-wrap: wrap;
}


.pill-nav a {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  margin: 20px 15px;
  width: 200px;
  height: 200px;
  border: none;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
  background: transparent;
  position: relative;
  border: none;
  /* border: 1px solid #ecedef; */
  color: #fff;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.19); */
}

.pill-nav a h3{
  padding-left: 13px;
  padding-top: 12px;
  font-size: 22px;
  letter-spacing: .01em;
  line-height: 1.3em;
}

.pill-nav a img{
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
}

.pill-nav a:nth-child(1){
   background: rgb(39, 133, 106);
}


.pill-nav a:nth-child(2){

  background-color: rgb(30, 50, 100);

}


.pill-nav a:nth-child(4){

  background-color: rgb(232, 17, 91);

}

.pill-nav a:nth-child(5){

  background-color: rgb(13, 115, 236);

}

.pill-nav a:nth-child(3){

  background-color: rgb(141, 103, 171);

}

.pill-nav a:nth-child(6){

  background-color: rgb(20, 138, 8);

}

.pill-nav a:nth-child(7){

  background-color: rgb(175, 40, 150);

}

.pill-nav a:nth-child(8){

  background-color: rgb(80, 155, 245);

}



.pill-nav a:nth-child(9){

  background-color: rgb(186, 93, 7);

}

.pill-nav a:nth-child(10){

  background-color: rgb(119, 119, 119);

}


.pill-nav a:nth-child(11){

  background-color: rgb(140, 25, 50);

}

.pill-nav a:nth-child(12){

  background-color: rgb(71, 125, 149);

}

.pill-nav a:nth-child(8){

  background-color: rgb(80, 155, 245);

}

.pill-nav a:nth-child(8){

  background-color: rgb(80, 155, 245);

}

.pill-nav a:nth-child(8){

  background-color: rgb(80, 155, 245);

}




.pill-nav button:hover{
  background: #604FB2;
  
}

.pill-nav .active-pill{
  /* background: #604FB2; */
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.19); */
  color: #fff;
  border-radius: 8px;
}

/* Change the color of links on mouse-over */

/* Add a color to the active/current link */
/* .pill-nav button:active {
  background-color: #ddd;
  color: white;
} */


@media screen and (max-width: 600px) {

  .calculator-parent{
    margin-bottom: 60px;
  }

  .calculator-heading1{
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 30px;
  }

  .pill-nav{
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
  }

  .pill-nav a{
  
    width: 170px;
    margin: 15px auto;
    
  }

  .pill-nav a h3{
    font-size: 17px;
  }


}